.landing--whitepaper {
	background: linear-gradient(to right bottom, rgba(21, 87, 153, 1), rgba(32, 151, 243, 1));
	color: #fff;
	clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
}

.landing--whitepaper > h1 {
	text-align: center;
	padding-top: 150px;
}

.landing--whitepaper--container {
	height: 100%;
	padding: 200px 0;
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

